{% extends 'base.html.twig' %}

{% block title %}Nova Training{% endblock %}
{% block javascripts %}
    <link rel="stylesheet" href="{{ asset('build/banners/banners.css') }}"/>
{% endblock %}
{% block body %}
{# CARROUSEL #}
<div id="carousel" class="carousel slide" style="max-width: 100%;">
   {# 
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    #}
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner row g-0" style="background-color: #081f2f;">
                <div class="col-6">
                    <img  class="banner"src="{{ asset('build/images/banners/nova-training-new/1.png') }}"/>
                </div>
                <div class="col-6">
                    <img  class="banner"src="{{ asset('build/images/banners/nova-training-new/2.png') }}"/>
                </div>
            </div>
        </div>
    </div>
    {#
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{# CARD ICON  #}
<div class="container-fluid py-5">
   <div class="row px-5">
        {% for i in 0..3 %}
        <div class="col-3">        
            <div class="bg-white border hover-shadow" style="aspect-ratio: 1/1; border-radius: 1rem; padding: 8%;">
                <div class="h-100 w-100">
                    <div class="h-25 d-flex align-items-center justify-content-center">
                        <svg class="h-100" style="max-height: 100%; color: #4c67af;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
                        </svg>
                    </div>
                    <div class="h-75 pt-5">
                        <div class="text-nova text-primary text-center" style="font-size: 2vw;">
                            <strong>Lorem Ipsum</strong>
                        </div>
                        <div class="text-justify" style="font-size: 0.8vw;">
                            Nam pellentesque quis massa non venenatis. Praesent vulputate quam eleifend tincidunt volutpat. Curabitur porta diam at consectetur consectetur.
                        </div>
                        <div class="text-nova text-center mt-5">
                            <a class="btn btn-lg btn-border-hover text-muted" href="#" style="font-size: 1.4vw;">Ver más <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
   </div>
</div>
{# PANEL NOVA #}
<div class="container py-5">
    <div class="row">
        <div class="col-12 mb-5" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
            <div class="row">
                <div class="col-md-8">
                    <div class="w-100 w-100 h-100 d-flex align-items-center justify-content-center">
                        <div>
                            <h1 class="text-nova display-5 fw-bold text-body-emphasis lh-1 mb-3">NOVA LIDERES</h1>
                            <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 border-radius-0">Demo Online</button>
                                <button type="button" class="btn btn-outline-secondary btn-lg px-4 border-radius-0">Precios</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-none d-lg-block">
                    <div class="w-100 h-100 d-flex align-items-center justify-content-end">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.32 9.27">                            
                            <g id="Capa_2" data-name="Capa 2">
                                <polygon class="cls-1" fill="#3f98d4" points="0 6.96 1.66 8.62 5.11 5.17 8.44 8.5 13.65 3.29 15.32 4.95 15.32 0 10.38 0 12 1.62 8.49 5.14 5.18 1.83 0 6.96"/>
                            </g>
                            <g id="Capa_3" data-name="Capa 3">
                                <circle class="cls-2" fill="#4c67af" cx="4.99" cy="8.05" r="1.22"/>
                                <circle class="cls-3" fill="#a5a5a4" cx="11.77" cy="8.05" r="1.22"/>
                                <circle class="cls-4" fill="#154e9c" cx="8.41" cy="2.35" r="1.22"/>
                            </g>
                        </svg>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{# ICON SECTION #}
<div class="container">
    <div class="row">
        <h2 class="text-nova border-bottom mb-3 pb-2">Nuestras Soluciones</h2>
    </div> 
    <div class="row">
        <div class="col-md-6 mb-3" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
            <div class="row">
                <div class="col-12 mb-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-toggles2" viewBox="0 0 16 16">
                            <path d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2 0-.729-.195-1.412-.535-2z"/>
                            <path d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm.535-10a3.975 3.975 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126c.091-.355.23-.69.41-1H4a2 2 0 1 0 0 4h2.535z"/>
                            <path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"/>
                        </svg>
                    </div>
                </div>
                <div class="col-12">
                    <h4 class="text-nova fw-semibold mb-0">Auditorias de Calidad</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
            <div class="row">
                <div class="col-12 mb-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-cpu-fill" viewBox="0 0 16 16">
                            <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
                            <path d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z"/>
                        </svg>
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <h4 class="text-nova fw-semibold mb-0">Desarrollo de Perfiles y Seleccion de Personal</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
            <div class="row">
                <div class="col-12 mb-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                            <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"/>
                        </svg>
                    </div>
                </div>
                <div class="col-12">
                    <h4 class="text-nova fw-semibold mb-0">Implementacion Proceso de Mejora</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
            <div class="row">
                <div class="col-12 mb-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-speedometer" viewBox="0 0 16 16">
                            <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                            <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"/>
                        </svg>
                    </div>
                </div>
                <div class="col-12">
                    <h4 class="text-nova fw-semibold mb-0">Consultoria</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-5 mt-5">
    <div class="row g-0">
        <div class="col-6">
            <img class="w-100 z-1 rounded-3" src="{{ asset('build/images/neon/7.jpg') }}" />
        </div>
        <div class="col-6 py-3">
            <div class="h-100 bg-white shadow z-2">        
                <div class="h-100 bg-white d-flex justify-content-end px-5 py-4 z-3" style="transform: translateX(-75px);">
                    <div class="me-5">
                        <h2 class="text-primary text-nova fw-bold">Beneficios</h2>
                        <ul class="list-unstyled ps-0" style="font-size: 1.1rem;">
                            <li><i class="bi bi-check-lg me-2"></i>Información de manera inmediata</li>
                            <li><i class="bi bi-check-lg me-2"></i>Facilita la toma de decisiones</li>
                            <li><i class="bi bi-check-lg me-2"></i>Permite detectar desvíos y decidir las medidas correctivas</li>
                            <li><i class="bi bi-check-lg me-2"></i>Mide el desempeño de nuestros colaboradores</li>
                            <li><i class="bi bi-check-lg me-2"></i>Medir los avances y cumplimiento</li>
                            <li><i class="bi bi-check-lg me-2"></i>Información de manera inmediata</li>
                            <li><i class="bi bi-check-lg me-2"></i>Facilita la toma de decisiones</li>
                            <li><i class="bi bi-check-lg me-2"></i>Permite detectar desvíos y decidir las medidas correctivas</li>
                            <li><i class="bi bi-check-lg me-2"></i>Mide el desempeño de nuestros colaboradores</li>
                            <li><i class="bi bi-check-lg me-2"></i>Medir los avances y cumplimiento</li>
                            <li><i class="bi bi-check-lg me-2"></i>Optimización de los recursos</li>
                            <li><i class="bi bi-check-lg me-2"></i>Incremento en las ventas</li>
                            <li><i class="bi bi-check-lg me-2"></i>Integrar el plan estratégico de la empresa con los planes de la compañía</li>
                            <li><i class="bi bi-check-lg me-2"></i>Todo en un solo sitio</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('build/banners/banners.js') }}"></script>
{% endblock  %}